.dl-sidebar-toggle {
    font-family: biolinum;
    left: -1px;
    top: 50px;
    position: fixed;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left bottom 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0px;
    padding: 5px;
    z-index: 150000;

    background: inherit;

    border: 1px black solid;
    border-bottom: none;

    cursor: pointer;
}

.dl-sidebar-container {
    width: 389px;
    min-height: 300px;
    left: -400px;
    top: 50px;
    max-height: 500px;
    overflow-y: scroll;
    padding: 5px;
    position: fixed;
    z-index: 100000;
    border: 1px solid black;
    border-left: none;
    -webkit-user-select: none;
    cursor: default;

    background: rgba(255,255,255,0.5);

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dl-copyright {
    //position: absolute;
    margin-top: 5px;
    font-size: 0.85em;
    text-align: right;
    right: 5px;
    bottom: 5px;
}

.dl-all-button {
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background: inherit;
    cursor: pointer;
    
    /* Temp until solution is discovered */
    //display: none;
}

.dl-sidebar {
    opacity: 0;
}

.dl-sidebar::-webkit-scrollbar {
    width: 10px;
}

.dl-sidebar::-webkit-scrollbar-track {
    background: rgba(0,0,0,1); 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dl-sidebar::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5); 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}