<div class="dl-sidebar-container dl-sidebar">
    Click the files to download, or use the download all button.
    <ol class="dl-tracklist">

    </ol>
    <div class="dl-all-button">Download Album</div>
    <div class="dl-copyright">Designed by <a class="custom-color" href="http://bitbucket.org/robot-apogee" target="_blank">Robot Apogee</a></div>
    <div class="dl-sidebar-toggle dl-sidebar">Bandcamp Downloader</div>
</div>